<h1>How to use this API</h1>

<h2>
  /all will give you a json object showing all movies
</h2>
<h2>
  /search/?[parameter] will give you a json object showing all movies that match the given search parameter:
</h2>
<p>
  [parameter] can be:
</p>
<p>
  t=[keyword] where [keyword] represents the keyword you want to search titles for
</p>
<p>
  y=[year] where [year] represents the year you want to search movies for
</p>
<p>
  t=[keyword]&amp;y=[year] Use the &amp; symbol to combine two search parameters
</p>
